.button {
  background: var(--primary);
  color: var(--white);
  font: var(--button);
  padding-inline-start: 1.5em;
  padding-inline-end: 1.5em;
  padding-block-start: 0.8em;
  padding-block-end: 0.8em;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
}
.button.is-secondary {
  border: 2px solid var(--primary);
  color: var(--primary);
  background: unset;
}
